hero-image {
  
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url("https://jaypegimaj.github.io/highwaytohill.jpg");
  height: 85%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  font-family: 'Carrois Gothic SC';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

h2 {
    font-size: 1em;
    background: #ffb737;
    font-family: 'Carrois Gothic SC';
    color: black;
    opacity: 90%;
}

h1 {
   font-family: 'Carrois Gothic SC';
   font-size:calc(55px + 1.5vw);
   border: 4px solid white;
   padding: 0.3em;
   color: white;
}

h3 {
   font-family: 'Carrois Gothic SC';
   font-size:calc(50px + 1vw);
   border: 4px solid white;
   padding: 0.3em;
   color: white;
   text-align: center;
   justify-content: center;
}

element {
    background: rgba(red, green, blue, alpha);
    // CSS property
}

h4 {
    font-size: 1.5em;
    background: #8ea288;
    font-family: 'Carrois Gothic SC';
    color: black;
    justify-content: center;
  }

h5 {
   font-size: 5em;
    background: #969696;
    font-family: 'Carrois Gothic SC';
    color: black;
    justify-content: center;
    text-align: center;
    display: block;
}  

   h6 {
   font-family: 'Carrois Gothic SC';
   font-size:calc(30px + 1.5vw);
   border: 4px solid white;
   padding: 0.3em;
   color: white;
    text-align: center;
   justify-content: center;
   position: relative;
}


}
.subheader {
    color: black;
}

.p1{
  color: gray;
}

.p2 {
  color: white;
  font-size: 1.5em;
  font-family: 'Josefin Sans';
  display: block;
}


.buttonportfolio {
    font-size: 1em;
    background: #ffb747;
    font-family: 'Carrois Gothic SC';
    color: black;
    opacity: 90%;
}

#top {
  background-color: yellow;
  font-size: 2.5em;
  font-family:'Carrois Gothic SC';
}

.callout {
  position: relative;
  margin: 0 0 1rem 0;
  padding: 1rem;
  border: 1px solid rgba(10, 10, 10, 0.25);
  border-radius: 0;
  background-color: white;
  color: #0a0a0a; }
  .callout > :first-child {
    margin-top: 0; }
  .callout > :last-child {
    margin-bottom: 0; }
  .callout.primary {
    background-color: black; /*#f4ebe2*/
    color: #7a9c97; }

/* SIDE MENU */

.side-menu {
    width:18em;
    height: auto;
    margin:4em auto 0;
    font-size: 1.5em;
    line-height: 2em;
    color: #fff;
    font-weight:700;
    text-transform:uppercase;
    position:absolute;
    top:0; 
    bottom:0;
    left: -14em;
}
.side-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.side-menu ul li {
  display:block;
    background-color: #333;
    height: 3.8em;
    padding: 1em 0.8em;
    position: relative;
    -webkit-transition: -webkit-transform 0.5s,     background-color .5s, color .5s;
    transition: transform .5s, background-color .5s, color .5s;
}


.side-menu ul li:nth-child(1) { background-color: #c29c61;}
.side-menu ul li:nth-child(2) { background-color: #e9be58;}
.side-menu ul li:nth-child(3) { background-color: #ecc8a6;}
.side-menu ul li:nth-child(4) { background-color: #d29b66;}

.side-menu ul li:hover {
    background-color: #9b533a; 
    -webkit-transform: translateX(10em);
    transform: translateX(14em);
}
.side-menu ul li a {
  display:block;
    color: #FFF;
    text-decoration: none;
}
.side-menu ul li span {
    display:block;
    position: absolute;
    font-size:1em;
    line-height: 2em;
    height:2em;
    top:0; 
    bottom:0;
    margin:0 auto;
    padding:1em 1.5em;
    right: 0.16666666666667em;
    color: #F8F6FF;
}
/* SIDE MENU */

/* FLEXBOX */

* {
  box-sizing: border-box;
}


.row {
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  padding: 0 4px;
}


.column {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  max-width: 30%;
  padding: 0px 8px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.imagecontent {
  padding: 0px 0px 0px 50px;
}



@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
/* FLEXBOX */

a.lightbox img {

box-shadow: 0px 0px 16px rgba(0,0,0,.3);
margin: 12px 12px 12px 12px;
}



.lightbox-target {
position: fixed;
top: -100%;
width: 100%;
background: rgba(0,0,0,.7);
width: 100%;
opacity: 0;
-webkit-transition: opacity .5s ease-in-out;
-moz-transition: opacity .5s ease-in-out;
-o-transition: opacity .5s ease-in-out;
transition: opacity .5s ease-in-out;
overflow: hidden;
}


.lightbox-target img {
margin: auto;
position: absolute;
top: 0;
left:0;
right:0;
bottom: 0;
max-height: 0%;
max-width: 0%;
border: 3px solid white;
box-shadow: 0px 0px 8px rgba(0,0,0,.3);
box-sizing: border-box;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}


a.lightbox-close {
display: block;
width:50px;
height:50px;
box-sizing: border-box;
background: white;
color: black;
text-decoration: none;
position: absolute;
top: -80px;
right: 0;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}


a.lightbox-close:before {
content: "";
display: block;
height: 30px;
width: 1px;
background: black;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(45deg);
-moz-transform:rotate(45deg);
-o-transform:rotate(45deg);
transform:rotate(45deg);
}


a.lightbox-close:after {
content: "";
display: block;
height: 30px;
width: 1px;
background: black;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(-45deg);
-moz-transform:rotate(-45deg);
-o-transform:rotate(-45deg);
transform:rotate(-45deg);
}


.lightbox-target:target {
opacity: 1;
top: 0;
bottom: 0;
}

.lightbox-target:target img {
max-height: 100%;
max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
top: 0px;
}

/* CONTACT PAGE */

.container2 {
  border-radius: 5px;
  background-color: #bfbec7;
  padding: 20px;
  margin: 50px 150px;  
  justify-content: center;
}

.container3 {
  border-radius: 5px;
  padding: 20px;
  margin: 50px 150px;  
  justify-content: center;
}

.introtext {
  text-align: justify;
  text-justify: inter-word;
}

input[type=text], select, textarea {
  font-family: 'Josefin Sans', sans-serif;
  width: 100%; 
  padding: 15px;
  border: 1px solid #6f7956;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #6f7956;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
}

input[type=submit]:hover {
  background-color: #a4a6d6;
  }

.buttontop {
    background-color: #d29b66;;
    justify-content: center;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
}

.buttontop:hover, a:active {
  background-color: #9b533a;
  }
