
/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url("assets/highwaytohill.jpg");

  /* Set a specific height */
  height: 85%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  font-family: 'Carrois Gothic SC';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

h2 {
    font-size: 1em;
    background: #ffb737;
    font-family: 'Carrois Gothic SC';
    color: black;
    opacity: 90%;
}

h1 {
   font-family: 'Carrois Gothic SC';
   font-size:calc(55px + 1.5vw);
   border: 4px solid white;
   padding: 0.3em;
   color: white;
}

h3 {
   font-family: 'Carrois Gothic SC';
   font-size:calc(25px + 1vw);
   border: 4px solid white;
   padding: 0.3em;
   color: #444;
   text-align: center;
   justify-content: center;
}

element {
    background: rgba(red, green, blue, alpha);
    // CSS property
}

h4 {
    font-size: 1.5em;
    background: #8ea288;
    font-family: 'Carrois Gothic SC';
    color: black;
    justify-content: center;
   
}

#top {
  background-color: yellow;
  font-size: 2.5em;
  font-family:'Carrois Gothic SC';
}

.callout {
  position: relative;
  margin: 0 0 1rem 0;
  padding: 1rem;
  border: 1px solid rgba(10, 10, 10, 0.25);
  border-radius: 0;
  background-color: white;
  color: #0a0a0a; }
  .callout > :first-child {
    margin-top: 0; }
  .callout > :last-child {
    margin-bottom: 0; }
  .callout.primary {
    background-color: black; /*#f4ebe2*/
    color: #7a9c97; }

/* SIDE MENU */

.side-menu {
    width:18em;
    height: auto;
    margin:4em auto 0;
    font-size: 1.5em;
    line-height: 2em;
    color: #fff;
    font-weight:700;
    text-transform:uppercase;
    position:absolute;
    top:0; 
    bottom:0;
    left: -14em;
}
.side-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.side-menu ul li {
  display:block;
    background-color: #333;
    height: 3.8em;
    padding: 1em 0.8em;
    position: relative;
    -webkit-transition: -webkit-transform 0.5s,     background-color .5s, color .5s;
    transition: transform .5s, background-color .5s, color .5s;
}

/*the colors of the different columns*/
.side-menu ul li:nth-child(1) { background-color: #c29c61;}
.side-menu ul li:nth-child(2) { background-color: #e9be58;}
.side-menu ul li:nth-child(3) { background-color: #ecc8a6;}
.side-menu ul li:nth-child(4) { background-color: #d29b66;}

.side-menu ul li:hover {
    background-color: #9b533a; /*you can make different colors depending on the nth-child like above*/
    -webkit-transform: translateX(10em);
    transform: translateX(14em);/*equal to left in the .side-menu*/
}
.side-menu ul li a {
  display:block;
    color: #FFF;
    text-decoration: none;
}
.side-menu ul li span {
    display:block;
    position: absolute;
    font-size:1em;
    line-height: 2em;
    height:2em;
    top:0; 
    bottom:0;
    margin:0 auto;
    padding:1em 1.5em;
    right: 0.16666666666667em;
    color: #F8F6FF;
}
/* SIDE MENU */

/* FLEXBOX */
* {
  box-sizing: border-box;
}

.body2 {
  margin: 0;
  font-family: Arial;
}

.header2 {
  text-align: center;
  padding: 32px;
}

.row2 {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column2 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column2 img {
  margin-top: 8px;
  vertical-align: center;
}



/* FLEXBOX */


<!DOCTYPE html>
<html>
<style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1600px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other 
@media screen and (max-width: 1200px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 40px;
  font-family: 'Open Sans', 'sans-serif';
  background-color: #fff;
  color: #444;
}

.wrapper {
  max-width: 940px;
  margin: 0 20px;
  display: grid;
  grid-gap: 10px;
}


/* no grid support? */

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(150px, auto);
}

.panel {
  /* needed for the flex layout*/
  margin-left: 5px;
  margin-right: 5px;
  flex: 1 1 200px;
}

.header,
.footer {
  margin-left: 5px;
  margin-right: 5px;
  flex: 0 1 100%;
  grid-column: 1 / -1;
}

.wrapper > * {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  margin-bottom: 10px;
}


/* We need to set the margin used on flex items to 0 as we have gaps in grid.  */

